<link href="/Scripts/OvadiaApp/donation-screen/donation-screen.css" rel="stylesheet" />

<div class="col-xs-12 fathercol">
    <div class="col-xs-12 header">
        <div class="center">
            <h2>היה שותף באחזקת מפעל התורה</h2>
            <p>
                בכולל האברכים 'חזון עובדיה' מפעל של תורה ומגדל אור לסביבה ולכל עם ישראל, עשרות שיעורי תורה והפצת תורה. טול חלק בסכום סמלי והיה שותף בזכויות הגדולות.
            </p>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="center">
            <div class="fade-in-out zipper col-xs-12 col-sm-6 col-md-4 col-lg-3  donation-block" ng-repeat="truma in Trumot" ng-hide="wizard">
                <img src="{{ImageProfile(truma)}}" class="resp-img" />
                <div class="blue-width">
                    <p>
                        {{truma.Title}}
                    </p>
                </div>
                <img src="/Content/images/donation/bottom-arrow.png" class="bottom-arrow-donation" />
                <div class="white-box">
                    <div class="truma-body" ng-bind-html="truma.Body"></div>
                </div>
                <input type="button" class="trom-btn btn btn-info" value="תרום" ng-click="Trom(truma)" />
            </div>
           
            <div ng-show="loader" class="loader1">
                <img src="/Content/images/loader.gif" />
            </div>
            <br />
            <br />
            <br />
            <donation-wizard class="fade-in-out zipper" ng-if="wizard"></donation-wizard>
        </div>
    </div>
   
</div>

