h3 {
    color: #686868;
    font-weight: bold;
}
.colel-img {
    float: right;
    display: inline-block;
    padding-left: 12px;
    width: 63%;
}
/*p {
    font-size: 20px;
    color: #434141;  
}*/

@media screen and (max-width: 768px) {
    .col-xs-12 {
        padding: 0;
    }
    .colel-img{
        width:100%;
    }
}