<link href="/Scripts/OvadiaApp/Admin/send-mail/send-mail.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12 noPadding">
        <div id="mailsAdm">
            <h4>הפצת הודעות במייל</h4>
            <div class="btn-group view_buttons" data-toggle="buttons">
                <label ng-class="radio == 1 ? 'active btn btn-primary' : 'btn btn-primary'" ng-click="radio = 1">
                    <input type="radio" name="options" ng-model="radio" value="2" id="option1" autocomplete="off">הפץ הודעה
                </label>
                <label ng-class="radio == 2 ? 'active btn btn-primary' : 'btn btn-primary'" ng-click="radio = 2">
                    <input type="radio" name="options" ng-model="radio" value="2" id="option2" autocomplete="off">תפוצת נמענים
                </label>
            </div>

            <!--- radio == 1-->
            <div id="sendMail" ng-show="radio == 1">
                <form name="sendMessForm" novalidate>
                    <div ng-hide="loaderSend">
                        <div class="form-group">
                            <label for="exampleInputPassword1">נושא ההודעה</label>
                            <input required type="t" #Subject="ngModel" name="Subject" ng-model="Mail.Subject" class="form-control" id="Event_Name" placeholder="">
                            <div ng-show="EventName.errors && (EventName.dirty || EventName.touched)"
                                 class="alert alert-danger">
                                <div ng-hide="!EventName.errors.required" class="alert alert-danger">
                                    אנא מלא שדה זה
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">גוף ההודעה</label>
                            <!--<textarea required type="t" #Subject="ngModel" name="Subject"
                                      ng-trim="false"
                                      rows="15" cols="40"
                                      ng-model="Mail.Body" class="form-control hugeSize" id="Event_Name">
                        </textarea>-->
                            <div text-angular ng-model="Mail.Body" placeholder="אנא הזן תוכן" 
                                 id="Event_Name"
                                 class="form-control hugeSize"
                                 ng-hide="readOnly"></div>

                            <div ng-show="EventName.errors && (EventName.dirty || EventName.touched)"
                                 class="alert alert-danger">
                                <div ng-hide="!EventName.errors.required" class="alert alert-danger">
                                    אנא מלא שדה זה
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" ng-click="SendMail()">שלח לכולם</button>
                    </div>
                    <div class="modal-body center" ng-show="loaderSend">
                        <img src="/Content/images/loader.gif" />
                    </div>
                    <br /><br /><br /><br /><br /><br /><br /><br />
                </form>
            </div>

            <!--- radio == 2-->
            <div id="tfuza" ng-show="radio == 2">
                <table class="table table-info">
                    <tr class="bg-info">
                        <th>מזהה</th>
                        <th>דואר אלקטרוני</th>
                    </tr>

                    <tr class="table-hover" ng-repeat="item in Messages.data track by item.ID" ng-hide="loader">
                        <td>
                            {{item.ID}}
                        </td>
                        <td>
                            {{item.Email}}
                            <i class="fa fa-times" aria-hidden="true" ng-click="OpenSureDeletePopup(item.ID,item.Email)"></i>
                        </td>
                    </tr>
                </table>
                <div class="modal-body center" ng-hide="!loader">
                    <img src="/Content/images/loader.gif" />
                </div>
                <button type="button" class="btn btn-success" ng-click="OpenAddMsg()">הוסף נמען לתפוצה</button>
            </div>
        </div>
    </div>
</div>