################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OvaidaPro/bin/Microsoft.VisualStudio.Workspace.xml
/Repository/bin/Debug
/OvaidaPro/bin
/OvaidaPro/Uploads
/Repository/obj/Debug
/OvaidaPro/obj/Debug
/Bo/obj/Debug
/Bo/bin/Debug
/BL/obj/Debug
/BL/bin/Debug
/Repository/bin/Release
/OvaidaPro/obj/Release
/Bo/obj/Release
/Bo/bin/Release
/BL/obj/Release
/BL/bin/Release
/Repository/obj/Release
