################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OvaidaPro/bin/Microsoft.VisualStudio.Workspace.xml
/Repository/bin/Debug
/OvaidaPro/bin
/OvaidaPro/Uploads
