lesson-component .body {
    background-color: #e8eaed;
    border: 1px solid #e7e7e7;
    min-height: 175px;
}
    lesson-component .body {
        padding:0;
    }
lesson-component .body:first-child {
        border-top-left-radius: 5px;
}
lesson-component .body:last-child {
    border-top-right-radius: 5px;
}
.yellow-bold {
    color: #ffbc66;
    font-family: OpenSansHebrew-ExtraBold;
    font-weight:bold;
}
.mic-icon {
    position: absolute;
    top: 2px;
    right:2px;
}
lesson-component .body.tfila {
    background: url('/Content/images/tfila-background.png');
    background-size: 100%;
}
.height100 {
    height: 81%;
    padding: 0;
    margin: 0;
}
.box-less {
    margin-top: 50px;
}
    .box-less .text {
        padding: 49px;
        padding-top: 22px;
        padding-right:30px;
        /* text-align: center; */
        padding-bottom: 10px;
        background: #284b75;
        color: #fff;
        font-size: 16px;
    }
    .box-less .clock-right {
        background: #284b75;
        border-radius: 100%;
        padding: 4px;
        float: right;
        position: relative;
        right: 31px;
        top: -70px;
    }
.box-less.leftSide .text {
    margin-right: 55px;
    /*margin-left: 5px;*/
}
.clock-icon-right {
    float: right;
    background: #284b75;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    right: 23px;
    top: -70px;
}
.clock-icon-left {
    float: left;
    background: #284b75;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    left: 23px;
    top: -70px;
}
.box-less.rightSide .text {
    margin-left: 53px;
    margin-right: 5px;
}

    .box-less .today-text-right {
        font-family: OpenSansHebrew-ExtraBold;
        margin-left: 55px;
        background: url('/Content/images/background-opacity-white.png');
        background-repeat: repeat;
        background-size: 100%;
        color: #284b75;
        font-size: 13px;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 2px;
        padding-bottom: 2px;
        float: left;
        position: relative;
        top: -22px;
    }
    .box-less .today-text-left {
        font-family: OpenSansHebrew-ExtraBold;
        margin-right: 55px;
        background: url('/Content/images/background-opacity-white.png');
        background-repeat: repeat;
        background-size: 100%;
        color: #284b75;
        font-size: 13px;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 2px;
        padding-bottom: 2px;
        float: right;
        position: relative;
        top: -22px;
    }


.box-less strong {
    font-family: OpenSansHebrew-ExtraBold
    
}

    .height100.left {
        background: url('/Content/images/63ecff_a7f2a11506f242a980e34e08c74827c1-mv2.png');
        background-size: 100% 103%;
        background-repeat: no-repeat;
        background-position: 0px -4px;
    }
.height100.right {
    background: url('/Content/images/63ecff_4fbc24e3ea5c4809b6c855cdf3ca61a0-mv2.png');
    background-size: 100% 103%;
    background-repeat: no-repeat;
    background-position: 0px -4px;
}
.block-tfila {
    background: #284b75;
    color: #fff;
    width: 57%;
    font-size: 16px;
    padding: 1px;
    margin-top: 47px;
    margin-bottom: 10px;
    float: left;
}

lesson-component .body .box-title.padding-right40 {
    padding-right: 40px;
}
lesson-component .all-lesson {
    font-style: italic;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

lesson-component.lessonBlocks {
    padding: 0;
    margin: 0;
}
lesson-component li.lesson {
    text-align: right;
    direction: rtl;
}
lesson-component li.lesson.loader {
    text-align: center;
    direction: rtl;
}
lesson-component ul {
    list-style-type: none;
    padding-right: 10px;
    margin-top:10px;
}
/*.body {
    padding: 0;
}*/

lesson-component .body .box-title {
    /*padding-right: 8px;
    color: #686868;
    font-family: kalisher,Arial;
    font-weight: bold;*/
    padding-right: 8px;
    color: #fff;
    /*font-family: kalisher,Arial;*/
    font-weight: bold;
    margin: 0;
    height: 44px;
    font-size:21px;
    padding: 10px;
    padding-right: 35px;
    text-align: right;
    background: #294d77;
}
.body.tfila, .body.lesson {
    height: 234px;
}

@media screen and (max-width: 768px) {
    .box-less {
        margin-top: 38px;
    }
    lesson-component .all-lesson {
        padding-right: 10px;
    }
    lesson-component .body{
        min-height:unset;
    }
    .body.tfila, .body.lesson {
        height: auto;
    }
    lesson-component .body.tfila{
        margin-bottom:10px;
    }

    .height100.left {
        background: url('/Content/images/mobile/top-background.png');
        background-size: 100% 100%;
    }
    .height100.right {
        background: url('/Content/images/mobile/bottom-background-.png');
        background-size: 100% 100%;
    }
}