<link href="/Scripts/OvadiaApp/lesson-component/lesson-component.css" rel="stylesheet" />
<div class="col-xs-12 lessonBlocks">
    <div class="body col-xs-12 col-sm-6 col-md-4">
        <img src="/Content/images/microphone.png" class="mic-icon" />
        <h4 class="box-title">
        השיעורים היום
        </h4>
        <ul>
            <li class="lesson" ng-repeat="item in weekEvents.Day_1" ng-hide="loader">
                <strong>{{item.To_Hour}}:{{item.To_Minutes}} - {{item.From_Hour}}:{{item.From_Minutes}}</strong>
                {{item.Event_Name}}
            </li>
            <li class="lesson" ng-show="weekEvents.Day_1.length == 0">
                אין שיעורים היום במערכת.
            </li>
            <li class="lesson loader" ng-show="loader">
                <img src="/Content/images/loader.gif" />
            </li>
        </ul>
        <div class="all-lesson">
            לכל השיעורים <a ui-sref="all-lesson">לחץ כאן </a>
        </div>
    </div>

    <div class="body col-xs-12  col-sm-6 col-md-4">
        <img src="/Content/images/microphone.png" class="mic-icon" />
        <h4 class="box-title">
        השיעורים מחר
        </h4>
        <ul>
            <li class="lesson" ng-repeat="item in weekEvents.Day_2" ng-hide="loader">
                <strong>{{item.To_Hour}}:{{item.To_Minutes}} - {{item.From_Hour}}:{{item.From_Minutes}}</strong>
                {{item.Event_Name}}
            </li>
            <li class="lesson" ng-show="weekEvents.Day_2.length == 0">
                אין שיעורים מחר במערכת.
            </li>
            <li class="lesson loader" ng-show="loader">
                <img src="/Content/images/loader.gif" />
            </li>
        </ul>
        <div class="all-lesson">
            לכל השיעורים <a ui-sref="all-lesson">לחץ כאן </a>
        </div>
    </div>

    <div class="body col-xs-12 col-md-4 hidden-xs">
        <img src="/Content/images/microphone.png" class="mic-icon" />
        <h4 class="box-title">
            השיעורים מחרתיים
        </h4>
        <ul>
            <li class="lesson" ng-repeat="item in weekEvents.Day_3" ng-hide="loader">
                <strong>{{item.To_Hour}}:{{item.To_Minutes}} - {{item.From_Hour}}:{{item.From_Minutes}}</strong>
                {{item.Event_Name}}
            </li>
            <li class="lesson" ng-show="weekEvents.Day_3.length == 0">
                אין שיעורים מחרתיים במערכת.
            </li>
            <li class="lesson loader" ng-show="loader">
                <img src="/Content/images/loader.gif" />
            </li>
        </ul>
        <div class="all-lesson">
            לכל השיעורים <a ui-sref="all-lesson">לחץ כאן </a>
        </div>
    </div>
</div>