<link href="/Scripts/OvadiaApp/lesson-component/lesson-component.css" rel="stylesheet" />
<div class="col-xs-12 lessonBlocks">

    <div class="body col-xs-12 col-sm-6 col-md-4 tfila">
        <img src="/Content/images/magenDavid.png" class="mic-icon" />
        <h4 class="box-title padding-right40">
           זמני תפילות
        </h4>
        <div class="block-tfila">
            <ul ng-hide="tfilot_loader">
                <li class="lesson" ng-repeat="item in Tfilot  | orderBy : 'Order1'" style="direction:rtl">
                    <div class="yellow-bold" style="direction:ltr;display:inline-block">
                        | {{item.Hour}}:{{item.Min}} 
                    </div>
                    <strong>{{item.Name}}</strong>
                </li>
                <li class="lesson" ng-show="errorTfilot">
                    {{errorTfilot}}
                </li>
            </ul>
            <ul ng-show="tfilot_loader">
                <li class="modal-body center">
                    <img src="/Content/images/loader.gif" />
                </li>
            </ul>
        </div>
    </div>

    <div class="body col-xs-12 col-sm-6 col-md-8 lesson">
        <img src="/Content/images/microphone.png" class="mic-icon" />
        <h4 class="box-title">
            זמני השיעורים
        </h4>
        <div class="col-xs-12 col-sm-6 col-md-6 height100 right">
            <div class="box-less leftSide">
                <span class="today-text-left">היום</span>
                <div class="text">
                    <strong class="title">שיעור בהלכה!</strong>
                    <br />
                    <span ng-show="weekEvents.Day_1.length > 0">
                        {{weekEvents.Day_1[0].Event_Name}}<br />
                        בשעה {{weekEvents.Day_1[0].From_Hour}}:{{weekEvents.Day_1[0].From_Minutes}}
                    </span>
                    <span ng-show="weekEvents.Day_1.length > 1">
                        {{weekEvents.Day_1[1].Event_Name}}<br />
                        בשעה {{weekEvents.Day_1[1].From_Hour}}:{{weekEvents.Day_1[1].From_Minutes}}
                    </span>
                    <span ng-show="weekEvents.Day_1.length == 0">
                        אין שיעורים היום.
                    </span>
                </div>
                <img class="clock-icon-right" src="/Content/images/icons/cloakIcon.png" />
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 height100 left">
            <div class="box-less rightSide">
                <span class="today-text-right">מחר</span>
                <div class="text">
                    <strong class="title">שיעור בהלכה!</strong>
                    <br />
                    <span ng-show="weekEvents.Day_2.length > 0">
                        {{weekEvents.Day_2[0].Event_Name}}<br />
                        בשעה {{weekEvents.Day_2[0].From_Hour}}:{{weekEvents.Day_2[0].From_Minutes}}
                    </span>
                    <span ng-show="weekEvents.Day_2.length > 1">
                        {{weekEvents.Day_2[1].Event_Name}}<br />
                        בשעה {{weekEvents.Day_2[1].From_Hour}}:{{weekEvents.Day_2[1].From_Minutes}}
                    </span>
                   <span  ng-show="weekEvents.Day_2.length == 0">
                       אין שיעורים מחר.
                   </span>
                </div>
                <img class="clock-icon-left" src="/Content/images/icons/cloakIcon.png" />
            </div>
        </div>
    </div>

    <!--<div class="body col-xs-12  col-sm-6 col-md-4">
        <img src="/Content/images/microphone.png" class="mic-icon" />
        <h4 class="box-title">
        השיעורים מחר
        </h4>
        <ul>
            <li class="lesson" ng-repeat="item in weekEvents.Day_2" ng-hide="loader">
                <strong>{{item.To_Hour}}:{{item.To_Minutes}} - {{item.From_Hour}}:{{item.From_Minutes}}</strong>
                {{item.Event_Name}}
            </li>
            <li class="lesson" ng-show="weekEvents.Day_2.length == 0">
                אין שיעורים מחר במערכת.
            </li>
            <li class="lesson loader" ng-show="loader">
                <img src="/Content/images/loader.gif" />
            </li>
        </ul>
        <div class="all-lesson">
            לכל השיעורים <a ui-sref="all-lesson">לחץ כאן </a>
        </div>
    </div>-->

    <!--<div class="body col-xs-12 col-md-4 hidden-xs">
        <img src="/Content/images/microphone.png" class="mic-icon" />
        <h4 class="box-title">
            השיעורים מחרתיים
        </h4>
        <ul>
            <li class="lesson" ng-repeat="item in weekEvents.Day_3" ng-hide="loader">
                <strong>{{item.To_Hour}}:{{item.To_Minutes}} - {{item.From_Hour}}:{{item.From_Minutes}}</strong>
                {{item.Event_Name}}
            </li>
            <li class="lesson" ng-show="weekEvents.Day_3.length == 0">
                אין שיעורים מחרתיים במערכת.
            </li>
            <li class="lesson loader" ng-show="loader">
                <img src="/Content/images/loader.gif" />
            </li>
        </ul>
        <div class="all-lesson">
            לכל השיעורים <a ui-sref="all-lesson">לחץ כאן </a>
        </div>
    </div>-->
</div>