h4 {
    color: #686868;
    font-weight: bold;
}
/*.col-xs-12{
  padding:0;
  margin:0;
  margin-bottom:12px;
}*/
.fc-day-grid-event .fc-content {
    cursor: pointer;
}
.box-title{
    text-align:center;
}
.modal-dialog {
    top: 53px;
}

.alert {
    padding: 6px;
    padding-bottom: 4px;
    margin-bottom: 11px;
    border: 1px #000 solid transparent;
    border-radius: 4px;
}

.modal-body h3 {
    padding-bottom: 7px;
    font-size: 22px;
    margin: 0;
    font-weight: bold;
}

table.table {
    margin-top: 10px;
}

    table.table tr td {
        text-align: center;
    }

#calendar {
    margin-top: 10px;
}

table.table tr th {
    text-align: center;
}

option {
    height: 150px;
    overflow: hidden;
}

.some_space {
    padding-right: 11px;
}

.table-hover:hover {
    background: #123b5e;
    /*color: #fff;*/
}

.modal-body.center {
    text-align: center;
}

.fa-pencil-square-o {
    display: block;
    float: left;
    cursor: pointer;
}

    .fa-edit:before, .fa-pencil-square-o:before {
        content: "\f044";
        font-size: 24px;
    }

.day_time {
    width: 108px;
    display: inline-block;
}

.fc .fc-button-group > :first-child {
    float: right;
}

.repeatClass {
    background: #ffd800;
    color: black;
}

.repeatClassFont {
    color: #ffd800;
    background: #ffd800;
    border: 1px solid #000;
    border-right: 2px solid #000;
}

.fc-toolbar .fc-left {
    float: right;
}

.fc-toolbar .fc-right {
    float: left;
}

.fc .fc-toolbar > * > * {
    margin-left: 0;
}

.fc .fc-toolbar > * > :first-child {
    float: right;
    margin-left: 10px;
}
.modal-body h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.box-sub-title {
    color: #686868;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top:20px;
    display: block;
    font-size:24px;
}

.table.table-info.mobile {
    margin-bottom: 0;
    margin-top: 0px;
}

    .table.table-info.mobile.x0 th {
        background: #6a9cc7;
    }

table.table tr td {
    background: #f8f8f8;
    font-weight: bold;
    border: 1px solid #8f8b8b;
}
.table.table-info, .box-sub-title {
    text-align:center;
}

table.table tr th {
    background: #294d77;
    font-size: 15px;
    /*font-weight: normal;*/
    color: #fff;
    border: 1px solid #8f8b8b;
}
@media screen and (max-width: 768px) {
    .box-sub-title {
        font-size: 18px;
        padding-bottom: 5px;
        font-weight: bold;
        background: #1c1f2c;
        padding-top: 5px;
        text-align: center;
        color: #fff;
    }
    .col-xs-12{
        padding:0;
    }
    .table.table-info, .box-sub-title {
        width: 100%;
    }
    
    .btn-group label.btn-primary {
        float: right;
        border-radius: 1px;
    }

        .btn-group label.btn-primary.yoman {
            width: 235px;
        }
}

