<link href="/Scripts/OvadiaApp/Admin/home-admin/home-admin.css" rel="stylesheet" />
<div class="row space-from-header">
   <div class="">
     <div class="sidebar-right col-xs-12 col-sm-4">
       <div class="sidebar">
         <div class="scrollable">
           <h4 class="scrollable-header app-name" ng-click="openCloseAdminMenu()">
             תפריט ניהול
             <i id="adminArrow" class="fa fa-minus" aria-hidden="true"  ng-show="plusIcon"></i>
             <i id="adminArrow2" class="fa fa-plus" aria-hidden="true"  ng-hide="plusIcon"></i>
           </h4>

           <div id="adminMenu" class="scrollable-content">
             <div class="list-group" >
               <a class="list-group-item" ui-sref="{{item.state}}" ng-repeat="item in admin_menuItems"
                  ng-class="$root.admin_menu == item.name ?'active' : ''"
                  ng-click="headerClick(item.name);">
                {{item.name}}
                 <i class="fa fa-chevron-left pull-left"></i>
               </a>
                <a href="#" class="list-group-item" ng-click="$root.LogOut()">התנתק
                    <i class="fa fa-chevron-left pull-left"></i>
                 </a>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="homeadminRoute col-xs-12 col-sm-8">
         <div ui-view></div>
     </div>
   </div>
</div>

