.app-name {
    margin: 0;
    color: #fff;
    font-size: 17px;
    background: #817378;
    /*font-family: kalisher,Arial;*/
    font-weight: bold;
    padding-right: 13px;
    line-height: 24px;
    border-bottom: 2px solid #294d77;
    padding-top: 8px;
    height: 41px;
    cursor: pointer;
}
.sidebar-right{
  float:right;
  padding-right:0;
}
.marginbottom10 {
    margin-bottom: 11px;
}
.btn-group.view_buttons{
    margin-bottom:10px;
}
#adminArrow, #adminArrow2 {
    float: left;
    position: relative;
    left: 15px;
    top:5px;
}
    

