<link href="/Scripts/OvadiaApp/Admin/Movies/add-movie/add-movie.css" rel="stylesheet" />


<div class="list-group-item list-group-item-home">
    <form name="movieForm" role="form" novalidate>
        <div ng-hide="loader">
            <a  ng-click="backToCategory()" ng-show="showBackButton">< חזרה לקטגוריה </a>   
            <fieldset>
                <legend ng-if="!isNewArticle && !readOnly">עריכת מאמר</legend>
                <legend ng-if="isNewArticle && !readOnly">יצירת מאמר</legend>
                <div class="form-group has-feedback" ng-hide="readOnly">
                    <label>כותרת מאמר</label>
                    <input type="text" required ng-model="Article.Title" class="form-control" placeholder="שם מאמר">
                </div>
                <legend ng-show="readOnly"><h1>{{Article.Title}}</h1></legend>
                <div class="form-group">
                    <label ng-hide="readOnly">תוכן</label>
                    <div text-angular ng-model="Article.Body" placeholder="אנא הזן תוכן" ng-hide="readOnly"></div>
                    <div ng-show="readOnly">
                        <div class="Article_Body" ng-bind-html="Article.Body"></div>
                    </div>
                    <label ng-hide="readOnly">כתובת תמונת פרופיל</label>
                    <input ng-hide="readOnly" type="text" ng-model="Article.ProfilePic" class="form-control" placeholder="כתובת תמונת פרופיל">
                </div>
            </fieldset>
            <a ng-show="readOnly" href="/index.html/CategoryArticles?categoryId={{Article.CategoryId}}">חזרה ל {{Article.CategoryName}} >></a>
            <div ng-hide="readOnly">
                בחר קטגוריה
            </div>
            <select name="categoryChoose" 
                    class="form-control parentCat hebrew"
                    ng-options="cat.Name for cat in $root.categoriesData"
                    ng-change="SelectChange(ArticleCat)"
                    ng-model="ArticleCat"
                    required
                    ng-hide="readOnly">
                <option value="">בחר</option>
            </select>
            <div ng-hide="readOnly">
                האם לפרסם?
            </div>
            <select name="categoryChoose"
                    class="form-control parentCat hebrew"
                    ng-model="Article.Publish"
                    required
                    ng-hide="readOnly">
                <option value="0" ng-selected="Article.Publish == 0">אל תפרסם</option>
                <option value="1" ng-selected="Article.Publish == 1">פרסם</option>
            </select>
            <div>
                <p class="example-p">
                 יש להוסיף את קוד הסרטון מיוטיוב
                לדוגמא בקישור הנ"ל
                    https://www.youtube.com/watch?v=bdq1WxhqoLQ
                     הקוד הינו: bdq1WxhqoLQ
                </p>
                קוד לסרט 1 
                <input type="text" class="form-control" ng-model="Article.Video1" />
                <div ng-show="!isNewArticle  && Article.YoutubeLink1 != null">
                    <iframe width="200" height="200"
                    ng-src="{{getIframeSrc(Article.YoutubeLink1)}}"
                    frameborder="0" allowfullscreen></iframe>
                </div>

                קוד לסרט 2
                <input type="text" class="form-control" ng-model="Article.Video2" />
                <div ng-show="!isNewArticle  && Article.YoutubeLink2 != null">
                    <iframe width="200" height="200"
                            ng-src="{{getIframeSrc(Article.YoutubeLink2)}}"
                            frameborder="0" allowfullscreen></iframe>
                </div>
                קוד לסרט 3
                <input type="text" class="form-control" ng-model="Article.Video3" />
                <div ng-show="!isNewArticle && Article.YoutubeLink3 != null">
                    <iframe width="200" height="200"
                            ng-src="{{getIframeSrc(Article.YoutubeLink3)}}"
                            frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <br />
            <button ng-show="isNewArticle" class="btn btn-primary btn-block" ng-click="AddArticle()">
                צור מאמר
            </button>
            <button ng-hide="isNewArticle" class="btn btn-primary btn-block" ng-click="EditArticle()">
                שמור שינויים
            </button>
            <button ng-hide="isNewArticle" class="btn btn-danger btn-block" ng-click="RemoveArticleById()">
                הסר מאמר
            </button>
        </div>
        <div ng-show="loader" class="loader1">
            <img src="/Content/images/loader.gif" />
        </div>
    </form>
    <br />

</div>