
.img-rounded {
    margin-bottom: 10px;
}
.thumb :hover, .img-responsive:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

@media screen and (max-width: 768px) {

    .col-xs-12 {
        padding: 0;
    }
}
