
.my-controller {
    border: 1px solid #fcc;
    padding: 5px;
    margin: 3px;
}

    .my-controller small {
        color: #c99;
    }

.other-controller {
    border: 1px solid #ccf;
    padding: 5px;
    margin: 3px;
}

    .other-controller small {
        color: #99c;
    }

.third-controller {
    border: 1px solid #cfc;
    padding: 5px;
    margin: 3px;
}

    .third-controller small {
        color: #9c9;
    }
@font-face {
    font-family: 'OpenSansHebrew-Bold';
    src: url('../../../Content/Fonts/OpenSansHebrew-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansHebrew-ExtraBold';
    src: url('../../../Content/Fonts/OpenSansHebrew-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansHebrew-Light';
    src: url('../../../Content/Fonts/OpenSansHebrew-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansHebrew-Regular';
    src: url('../../../Content/Fonts/OpenSansHebrew-Regular.ttf') format('truetype');
}
.slide-script {
    position: relative;
    top: 10px;
}
.col-xs-12.odaot-for-zibur {
    background: #eeeae6;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #888785;
    font-size: 15px;
    margin-bottom: 5px;
}
    .col-xs-12.odaot-for-zibur .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 1170px;
    }
    
body {
    font-family: OpenSansHebrew-Regular;
}
tags-input .tags .input, tags-input .tags .tag-item {
    float: right;
}
.form-control{
    height:auto;
}
my-app .row {
    margin: 0;
    /*line-height: 0.5;*/
}
/*#display {
    height: 60px;
    width: 500px;
    overflow: hidden;
    position: relative;
}

#text {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: 10px;
    margin-right: 10px;
    top: 10px;
    
}*/



.navbar-default .navbar-nav > li > a {
     text-align:center;
}
.has-feedback .form-control {
    padding-right: 6px;
}
.navbar-default .navbar-nav > li > a {
    color: #2c4e72;
}.ngdialog-theme-default {
    position: fixed;
    top: 27%;
    z-index: 9999;
    width: 440px;
    left: 19%;
}
.x_icon {
    font-size: 40px;
    position: absolute;
    top: 7px;
}
.ngdialog-closing {
    display:none;
}

.modal-title {
    padding-right: 35px;
    font-weight: bold;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
}

div, p, h1, h2, h3, h4, h5, h6, span {
    text-align:right;
    direction:rtl;
}
.modal-body {
    padding-top: 0;
}
.BlockHead {
    margin-top: -20px;
}
.modal-body h3 {
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
    .marginbottom10{
        margin-bottom:11px;
    }
.hour_time {
    width: 83px;
    display: inline-block;
}

.coppy-button {
    width: 131px;
}
.imgClass {
    float: right;
}
.scrollable {
    padding-top: 35px;
} 
buttonsContainerArt button {
    margin-top: 1px;
    margin-left: 16px;
}
.box-title {
    color: #686868;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
.box-sub-title {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: bold;
}
.title-dot {
    border-bottom: dotted #000 1px;
    height: 15px;
    /*font-size: 9pt;*/
    padding: 4px 0px 4px 3px;
    margin-top: 5px;
    color: #333;
}
.heb_text {
    direction: rtl;
    text-align: right;
    font-size: 18px;
    color: #333;
    line-height: 1.7;
}
.center {
    text-align: center;
}
.noPadding{
    padding:0;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}
/*------login--------*/
#login_username {
    margin-bottom: 10px;
}
.remember-me {
    padding-right:18px;
}
.ngdialog.ngdialog-theme-default {
padding:0;
}
/*.ngdialog-close {
    display: none;
}*/
.error-msg {
    color: red;
    float: right;
}
.error-msg-nofloat{
    color:red;
}
.ngdialog-close.close {
    color: #6d6a6a;
}
.close {
    opacity:1;
}
.ngdialog.ngdialog-theme-default .ngdialog-close {
    /*border: 0;
    background: #f0f0f0;
    cursor: pointer;*/
}
    .ngdialog.ngdialog-theme-default .ngdialog-close:before {
        color: #000;
        
    }legend {
        font-weight: bold;
    }


.fc-day-header.fc-widget-header {
    padding: 9px;
}
.fc-day-header {
    background: #294d77;
    color: #fff;
    padding: 20px;
}
@media screen and (min-width: 768px) {
    .scrollable{
        padding:0;
    }
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: right;
    }
}


    @media screen and (max-width: 768px) {
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            float: right;
        }

        .ngdialog-theme-default {
            position: fixed;
            top: 16%;
            width: 100%;
            left: auto;
            z-index: 9999;
        }

        .active.btn.btn-primary {
            background-color: #173a59;
            border-color: #245580;
        }
        /*.col-xs-12 {
        padding: 0;
    }*/
        header-component .navbar-nav > li {
            text-align: center;
        }
        /*.ngdialog-content {
        position: relative;
        top: -150px;
    }*/
        .col-xs-12.odaot-for-zibur .container{
            width:100%;
        }
        .slide-script{
            width:100%;
        }
    }