my-app .row {
    margin: 0;
    /*line-height: 0.5;*/
}
.ngdialog-theme-default {
    position: fixed;
    top: 27%;
    z-index: 9999;
    width:440px;
    left: 19%;
}
.x_icon {
    font-size: 40px;
    position: absolute;
    top: 7px;
}
.modal-title {
    padding-right:35px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
}

div, p, h1, h2, h3, h4, h5, h6, span {
    text-align:right;
    direction:rtl;
}
.modal-body {
    padding-top: 0;
}
.BlockHead {
    margin-top: -20px;
}
.modal-body h3 {
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
    .marginbottom10{
        margin-bottom:11px;
    }
.hour_time {
    width: 83px;
    display: inline-block;
}

.coppy-button {
    width: 131px;
}
.imgClass {
    float: right;
}
.removeButton {
    position: relative;
    top: -163px;
    right: 4px;
}
.scrollable-content .imgItems-li {
    display:inline-block;
}
.buttonsContainerArt {
    display: inline-block;
    width: 148px;
    height: 175px;
}

    .buttonsContainerArt button {
        margin-top: 1px;
        margin-left: 16px;
    }
.box-title {
    color: #686868;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
.box-sub-title {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: bold;
}
.title-dot {
    border-bottom: dotted #000 1px;
    height: 15px;
    /*font-size: 9pt;*/
    padding: 4px 0px 4px 3px;
    margin-top: 5px;
    color: #333;
}
.heb_text {
    direction: rtl;
    text-align: right;
    font-size: 18px;
    color: #333;
    line-height: 1.7;
}
.center {
    text-align: center;
}
.noPadding{
    padding:0;
}
.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}
/*------login--------*/
#login_username {
    margin-bottom: 10px;
}
.remember-me {
    padding-right:18px;
}
.ngdialog.ngdialog-theme-default {
padding:0;
}
.ngdialog-close {
    display: none;
}
.error-msg {
    color: red;
    float: right;
}
.error-msg-nofloat{
    color:red;
}
.ngdialog-close.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    display:block;
}
.ngdialog.ngdialog-theme-default .ngdialog-close {
    border: 0;
    background: #f0f0f0;
    cursor: pointer;
}
    .ngdialog.ngdialog-theme-default .ngdialog-close:before {
        color: #000;
        
    }legend {
        font-weight: bold;
    }
@media screen and (max-width: 768px) {
    .ngdialog-theme-default {
        position: fixed;
        top: 16%;
        width: 100%;
        left: auto;
        z-index: 9999;
    }
    .active.btn.btn-primary {
        background-color: #173a59;
        border-color: #245580;
    }
    /*.col-xs-12 {
        padding: 0;
    }*/
    header-component .navbar-nav > li{
        text-align:center;
    }
    /*.ngdialog-content {
        position: relative;
        top: -150px;
    }*/
}