<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="HazonOvadiaEntities" connectionString="metadata=res://*/OvadiaData.csdl|res://*/OvadiaData.ssdl|res://*/OvadiaData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6OGQC4I;initial catalog=HazonOvadia;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DB_A25801_OvadiaEntities" connectionString="metadata=res://*/OvadiaDataP.csdl|res://*/OvadiaDataP.ssdl|res://*/OvadiaDataP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql6002.smarterasp.net;initial catalog=DB_A25801_Ovadia;persist security info=True;user id=DB_A25801_Ovadia_admin;password=mjhjnus1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEngine">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.myzmanim.com/engine1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEngine" contract="myZmanimService.IEngine"
        name="BasicHttpBinding_IEngine" />
    </client>
  </system.serviceModel>
</configuration>