
h4 {
    color: #686868;
    font-weight: bold;
}
/*.col-xs-12{
  padding:0;
  margin:0;
  margin-bottom:12px;
}*/
.fc-day-grid-event .fc-content {
    cursor: pointer;
}

.modal-dialog {
    top: 53px;
}

@media screen and (max-width: 768px) {

    .btn-group label.btn-primary {
        float: right;
        border-radius: 1px;
    }

        .btn-group label.btn-primary.yoman {
            width: 100%;
        }

    /*.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
    .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        width: 50%;
    }*/

    .btn-group.view_buttons {
        width: 100%;
    }

    .ngdialog-theme-default {
        top: 0%;
    }

    .col-xs-12 {
        padding: 0;
    }
}
