      <!---Event Details Popup -->
<form name="eventDetailsForm" novalidate>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="ngdialog-close close" data-dismiss="modal" aria-label="Close" ng-click="closePopup()">
                <span aria-hidden="true" class="x_icon ngdialog-close close">&times;</span>
            </button>
            <h4 class="modal-title">תפילות</h4>
        </div>

        <div class="modal-body" ng-hide="loader">
            <h3>הוספת תפילה</h3>
            <div class="form-group">
                <label for="exampleInputPassword1">שם התפילה</label>
                <input required type="text" #EventName="ngModel"
                       name="Event_Name" ng-model="currentTfila.Name"
                       class="form-control default_width" placeholder="לדוגמא ערבית">
                <div ng-show="EventName.errors && (EventName.dirty || EventName.touched)"
                     class="alert alert-danger">
                    <div ng-hide="!EventName.errors.required" class="alert alert-danger">
                        אנא מלא שדה זה
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="some_space" for="title">שעה</label>
                <select class="form-control hour_time"
                        required
                        ng-model="FromMinSelect"
                        ng-options="min.value for min in minutes"
                        ng-init="FromMinSelect = minutes[currentTfila.Min*1 - 1]"
                        ng-change="currentTfila.Min = FromMinSelect.value">
                    <option value="">דקות</option>
                </select> :
                <select name="event.From_Hour" class="form-control hour_time"
                        required
                        ng-model="FromHourSelect"
                        ng-init="FromHourSelect = hours[currentTfila.Hour*1 - 1]"
                        ng-change="currentTfila.Hour = FromHourSelect.value"
                        ng-options="hour.value for hour in hours">
                    <option value="">שעה</option>
                </select>
                <div ng-show="currentTfila.Hour == '' || currentTfila.Min == ''"
                     class="alert alert-danger">
                    <div class="alert alert-danger" ng-show="currentTfila.Hour == ''">
                        אנא בחר שעת התחלה
                    </div>
                    <div class="alert alert-danger" ng-show="currentTfila.Min == ''">
                        אנא בחר 'דקות' בשעת התחלה
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">מיון</label>
                <input required type="number" #EventName="ngModel"
                       name="Event_Name" ng-model="currentTfila.Order1"
                       class="form-control hour_time" placeholder="מספר">
                <div ng-show="EventName.errors && (EventName.dirty || EventName.touched)"
                     class="alert alert-danger">
                    <div ng-hide="!EventName.errors.required" class="alert alert-danger">
                        אנא מלא שדה זה
                    </div>
                </div>
                <p>
                    התפילה עם המספר הגבוהה ביותר תופיע ראשונה
                </p>
            </div>

        </div>
        <div class="modal-body center" ng-hide="!loader">
            <img src="/Content/images/loader.gif" />
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closePopup()" data-dismiss="modal">סגור חלון</button>
            <button type="button" class="btn btn-success" ng-click="AddTfila()">הוסף תפילה</button>
        </div>
    </div>
</form>
