      <!---Event Details Popup -->
<form  name="eventDetailsForm" novalidate>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="ngdialog-close close" data-dismiss="modal" aria-label="Close" onclick="closePopup()">
            <span aria-hidden="true" class="x_icon ngdialog-close close" ng-click="closePopup()">&times;</span></button>
            <h4 class="modal-title">פרטי אירוע</h4>
        </div>
        <div class="modal-body" ng-hide="loader">
            <h3>{{currentEvent.Full_Date}}</h3>
            <div class="form-group">
                <div ng-hide="edit">
                    <label for="exampleInputPassword1">שם הרב/ההרצאה:</label>
                    {{currentEvent.Event_Name}}
                </div>

                <div ng-hide="!edit">
                    <label for="exampleInputPassword1">שם הרב/ההרצאה</label>
                    <input required type="text" #EventName="ngModel" name="Event_Name" ng-model="currentEvent.Event_Name" value="{{event.Event_Name}}" class="form-control default_width" id="Event_Name" placeholder="">
                    <div ng-show="EventName.errors && (EventName.dirty || EventName.touched)"
                         class="alert alert-danger">
                        <div ng-hide="!EventName.errors.required" class="alert alert-danger">
                            אנא מלא שדה זה
                        </div>
                    </div>

                </div>
            </div>

            <div ng-hide="!edit">
                <div class="form-group">
                    <label class="some_space" for="title">משעה</label>
                    <select class="form-control hour_time"
                            required
                            ng-model="FromMinSelect"
                            ng-options="min.value for min in minutes"
                            ng-init="FromMinSelect = minutes[currentEvent.From_Minutes*1]"
                            ng-change="currentEvent.From_Minutes = FromMinSelect.value">
                        <option value="">דקות</option>
                    </select> :
                    <select name="event.From_Hour" class="form-control hour_time"
                            required
                            ng-model="FromHourSelect"
                            ng-init="FromHourSelect = hours[currentEvent.From_Hour*1]"
                            ng-change="currentEvent.From_Hour = FromHourSelect.value"
                            ng-options="hour.value for hour in hours">
                        <option value="">שעה</option>
                    </select>
                    <div ng-show="currentEvent.From_Hour == '' || currentEvent.From_Minutes == ''"
                         class="alert alert-danger">
                        <div class="alert alert-danger" ng-show="currentEvent.From_Hour == ''">
                            אנא בחר שעת התחלה
                        </div>
                        <div class="alert alert-danger" ng-show="currentEvent.From_Minutes == ''">
                            אנא בחר 'דקות' בשעת התחלה
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title">עד שעה </label>
                    <select class="form-control hour_time"
                            required
                            ng-model="ToMinSelect"
                            ng-options="min.value for min in minutes"
                            ng-init="ToMinSelect = minutes[currentEvent.To_Minutes*1]"
                            ng-change="currentEvent.To_Minutes = ToMinSelect.value">
                        <option value="">שעה</option>
                    </select> :
                    <select name="event.From_Hour" class="form-control hour_time"
                            required
                            ng-model="ToHourSelect"
                            ng-init="ToHourSelect = hours[currentEvent.To_Hour*1]"
                            ng-change="currentEvent.To_Hour = ToHourSelect.value"
                            ng-options="hour.value for hour in hours">
                        <option value="">שעה</option>
                    </select>
                    <div ng-show="currentEvent.To_Hour == '' || currentEvent.To_Minutes == ''"
                         class="alert alert-danger">
                        <div class="alert alert-danger" ng-hide="currentEvent.To_Hour != ''">
                            אנא בחר שעת סיום
                        </div>
                        <div class="alert alert-danger" ng-hide="currentEvent.To_Minutes != ''">
                            אנא בחר 'דקות' בשעת הסיום
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div ng-hide="edit">
                    <label class="" for="title">משעה:</label>
                    <span ng-bind="currentEvent.From_Hour"></span>:<span ng-bind="currentEvent.From_Minutes"></span>
                    <label for="title">עד שעה: </label>
                    <span ng-bind="currentEvent.To_Hour"></span>:<span ng-bind="currentEvent.To_Minutes"></span>
                </div>
            </div>

            <div class="form-group">
                <div ng-hide="edit">
                    <label for="exampleInputPassword1">סטטוס אירוע:</label>
                    {{status[currentEvent.Status*1].text}}
                </div>
           </div>

            <div class="form-group" ng-show="edit">
                <label for="exampleInputPassword1">הקדשה:</label>
                <input type="text" ng-model="currentEvent.Comment " value="{{currentEvent.Comment}}" class="form-control default_width" id="Comment" placeholder="אופציונלי">
                <div ng-show="EventName.errors && (EventName.dirty || EventName.touched)"
                     class="alert alert-danger">
                    <div ng-hide="!EventName.errors.required" class="alert alert-danger">
                        אנא מלא שדה זה
                    </div>
                </div>
            </div>

                <div class="form-group" ng-hide="edit">
                    <label for="exampleInputPassword1">הקדשה: </label>
                    {{currentEvent.Comment}}
                    <span ng-show="currentEvent.Comment == '' || currentEvent.Comment == null">
                        אין
                    </span>
                </div>

                <div class="form-group" ng-show="edit">
                    <label for="exampleInputPassword1">סטטוס אירוע</label>
                    <select required 
                            ng-model="StatusSelect"
                            name="event.Status"
                            type="text"
                            class="form-control default_width"
                            ng-options="s.text for s in status"
                            ng-change="currentEvent.Status = StatusSelect.value"
                            ng-init="StatusSelect = status[currentEvent.Status*1]">
                        <option value="">בחר סטטוס</option>
                    </select>
                    <div ng-show="currentEvent.Status == ''"
                         class="alert alert-danger">
                        <div class="alert alert-danger">
                            אנא בחר שעת התחלה
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-body center" ng-hide="!loader">
            <img src="/Content/images/loader.gif" />
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="closePopup()" data-dismiss="modal">סגור חלון</button>
            <button type="button" class="btn btn-primary" ng-click="edit = true" ng-show="!edit">ערוך אירוע</button>
            <button type="button" class="btn btn-success" ng-click="updateEvent()" ng-show="edit">שמור אירוע</button>
            <button type="button" class="btn btn-danger" ng-click="deleteEvent()">הסר אירוע</button>
        </div>
    </div>
</form>
