#tfilaTime .table-info {
    text-align: right;
}

#tfilaTime .bg-info th {
    text-align: center;
}
h4 {
    color: #686868;
    font-weight: bold;
}
#tfilaTime .table-hover:hover {
    background: #123b5e;
    color: #fff;
}
.table-hover td {
    text-align: center;
}

.fa-pencil-square-o {
    cursor: pointer;
    font-size: 22px;
    float: left;
}

@media screen and (max-width: 768px) {
    .col-xs-12 {
        padding: 0;
    }
}