.col-xs-12.removePaddingMargin {
    margin: 0;
    padding: 0;
    height:76px;
    background: #b3ada9;
}
.container {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -21px;
}
#chooseCategoryId {
    padding-top:20px;
    height: 39px;
    width: 179px;
    display: inline-block;
}
.containerX {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.dropdown-icon {
    position: absolute;
    z-index: 999;
    margin-right: 145px;
    top: 26px;
}
.select2-container--default .select2-selection--single {
    height: 39px !important;
}
    .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container .select2-selection--single .select2-selection__rendered {
        line-height: 39px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        font-family: OpenSansHebrew-Regular;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow{
        display:none;
    }