<link href="/Scripts/OvadiaApp/movie-category/movie-category.css" rel="stylesheet" />
<link href="/Content/select2.min.css" rel="stylesheet" />

<!--desktop-->
<div class="col-xs-12 removePaddingMargin mob" >
    <div class="containerX">
        <div class="Search_header" >
            <!----בחר קטגוריה-->
            <div id="chooseCategoryId">
                <!--<img src="/Content/images/dropdown-icon.png" class="dropdown-icon" />-->
                <select id="chooseCategorySelectId" class="form-control"
                        ng-change="ChangeCategory(select2)"
                        ui-select2 ng-model="select2" data-placeholder="בחר נושא" style="width:100% !important">
                    <option value=""></option>
                    <option ng-repeat="cat in $root.categoriesData" ng-value="{{cat}}">{{cat.Name}}</option>
                </select>
            </div>
            <!----בחר תת קטגוריה-->
            <div id="chooseSubCategoryId" ng-show="showSub">
                <!--<img src="/Content/images/dropdown-icon.png" class="dropdown-icon" />-->
                <select id="chooseCategorySelectId2" class="form-control"
                        ng-model="select2_1"
                        ng-change="ChangeSubCategory(select2_1)"
                        ui-select2 data-placeholder="בחר תת נושא" style="width:100% !important">
                    <option value=""></option>
                    <option ng-repeat="cat in $root.categoriesSubData" ng-value="{{cat}}">{{cat.Name}}</option>
                </select>
            </div>
            <!----בחר תת תת קטגוריה-->
            <div id="chooseSubSubCategoryId" ng-show="showSubSub">
                <!--<img src="/Content/images/dropdown-icon.png" class="dropdown-icon" />-->
                <select id="chooseCategorySelectId3" class="form-control"
                        ui-select2 ng-model="select2_1_1" data-placeholder="בחר תת קטגוריה" style="width:100% !important">
                    <option value=""></option>
                    <option ng-repeat="cat in $root.categoriesSubSubData" ng-value="{{cat}}">{{cat.Name}}</option>
                </select>
            </div>
            <!----בחר רב-->
            <div id="chooseCategoryId">
                <!--<img src="/Content/images/dropdown-icon.png" class="dropdown-icon" />-->
                <select id="chooseCategorySelectId" class="form-control"
                        ui-select2 ng-model="select3" data-placeholder="בחר רב" style="width:100% !important">
                    <option value=""></option>
                    <option ng-repeat="cat in $root.categoriesRabiData" ng-value="{{cat}}">{{cat.Name}}</option>
                </select>
            </div>
        </div>
        
    </div>
</div>
<div class="col-xs-12 removePaddingMargin blueLine"  infinite-scroll="loadMore()" infinite-scroll-distance="3"  ng-hide="isMobile">
    <div class="containerX">
        <div class="blueLine-title" >חפש שיעור\רב
            <!---Search-->
            <div id="searchBox">
                <img src="/Content/images/icons/search_icon.png" class="search-icon" />
                <input type="text" placeholder="חפש" ng-model="search" class="form-control" />
            </div>
            <div id="submitButton">
                <input id="submitButton2" ng-model="search" type="button" value="סנן" class="form-control" />
            </div>  
        
        </div>
        <div class="all_articles">
            <div class="articles-list" ng-repeat="article in (filteredItems = (Articles | filter: search
                | filter: parentCategoryFilter | filter: subCategoryFilter
                | filter: subSubCategoryFilter | filter: rabiFilter)) |limitTo:limitVideos">
                <div class="article-box col-md-4_5 col-xs-12" ng-click="goToArticle(article)"
                     style="{{myStyle(article)}}">
                    <div class="article-title">
                        {{article.Title}}
                    </div>
                </div>
            </div>
            <div ng-show="Articles == null || Articles.length == 0 && categorySelected != null">
                אין מאמרים תחת קטגוריה זו
            </div>
            <!--<div>
                <input type="button" class="btn btn-block btn-success moreButton" value="טען עוד" ng-click="loadMore()" ng-show="filteredItems.length > limitVideos " />
            </div>-->
            <!--<dir-pagination-controls class="col-xs-12" ng-hide="Articles == [] || search != null"></dir-pagination-controls>-->

        </div>
    </div>
</div>


<!--mobile-->
<div class="col-xs-12 removePaddingMargin-Mobile" infinite-scroll="loadMore()" infinite-scroll-distance="3" ng-show="isMobile">
    <div class="containerX">
        <div class="all_articles">
            <div class="articles-list" ng-repeat="article in (filteredItems = (Articles | filter: search
                | filter: parentCategoryFilter | filter: subCategoryFilter
                | filter: subSubCategoryFilter | filter: rabiFilter)) | limitTo:limitVideos">
                <div class="article-box col-md-4_5 col-xs-12" ng-click="goToArticle(article)"
                     style="{{myStyle(article)}}">
                    <div class="article-title">
                        {{article.Title}}
                    </div>
                </div>
            </div>
            <div ng-show="Articles == null || Articles.length == 0 && categorySelected != null">
                אין מאמרים תחת קטגוריה זו
            </div>
            <!--<div>
                <input type="button" class="btn btn-block btn-success moreButton" value="טען עוד" ng-click="loadMore()" ng-show="filteredItems.length > limitVideos " />
            </div>-->
            <!--<dir-pagination-controls class="col-xs-12" ng-hide="Articles == [] || search != null"></dir-pagination-controls>-->

        </div>
    </div>
</div>



<div ng-show="loader" class="loader1 col-xs-12 center">
    <img src="/Content/images/loader.gif" />
</div>