<link href="/Scripts/OvadiaApp/Admin/Movies/edit-movies/edit-movies.css" rel="stylesheet" />
<br />
<div class="list-group-item list-group-item-home">
    <div class="BlockHead">
        <div class="body ">
            <div ng-hide="loader">
                <legend class="panel1">פאנל מאמרים\סרטים</legend>
                <div ng-hide="readOnly">
                    בחר קטגוריה
                </div>
                <select name="categoryChoose"
                        class="form-control parentCat hebrew"
                        ng-options="cat.Name for cat in categoriesData"
                        ng-change="chooseCategory(ArticleCat)"
                        ng-model="ArticleCat">
                    <option value="">בחר</option>
                </select>

                <div class="col-xs-12 articles-list" ng-repeat="article in Articles ">
                    <div class="article-box col-md-4 col-xs-12" 
                        ng-style="myStyle(article)">
                        <div class="article-title">
                            {{article.Title}}
                            </div>
                        <!--<iframe width="200" height="200" 
                                ng-src="{{getIframeSrc(article.YoutubeLink1)}}"
                                frameborder="0" allowfullscreen></iframe>-->
                    </div>
                </div>
            </div>


            <div ng-show="loader" class="loader1">
                <img src="/Content/images/loader.gif" />
            </div>
        </div>
    </div>
</div>