<link href="/Scripts/OvadiaApp/Admin/Movies/edit-movies/edit-movies.css" rel="stylesheet" />
<link href="/Content/select2.min.css" rel="stylesheet" />
<br />
<div class="">
    <div class="BlockHead">
        <div class="body ">
            <div ng-hide="loader">
                <legend class="panel1">פאנל מאמרים\סרטים</legend>
                <div ng-hide="readOnly">
                    בחר קטגוריה
                </div>
               
                <!--<select name="categoryChoose"
                        id="categoryIdElem"
                        class="form-control parentCat hebrew"
                        ng-options="cat.Name for cat in categoriesData"
                        ng-change="chooseCategory(ArticleCat)"
                        ng-model="ArticleCat">
                    <option value="">בחר</option>
                </select>-->

          <!--
                    <select name="categoryChoose"
                        id="categoryIdElem"
                        class="form-control parentCat hebrew"
                        ng-change="chooseCategory(ArticleCat)"
                        ng-options="cat.Name for cat in $root.categoriesData"
                        ng-model="ArticleCat">
                    <!--<option ng-repeat="cat in categoriesData" value="{{cat.Id}}"
                            ng-selected="{{ArticleCat == cat.Id}}">
                        {{cat.Name}}
                    </option>
                    <option value="">בחר</option>
                </select>-->
                <div class="col-xs-12 select2con">
                    <select id="myselect" class="form-control"
                             ng-change="chooseCategory(select2)"
                            ui-select2 ng-model="select2" data-placeholder="בחר קטגוריה" style="width:100% !important">
                        <option value=""></option>
                        <option ng-repeat="cat in $root.categoriesData" ng-value="{{cat}}">{{cat.Name}}</option>
                    </select>
                </div>
                <h3 ng-show="categorySelected.Name != null" ng-bind="categorySelected.Name" 
                    style="font-weight: bold;
                    color: #294d77;
                    padding-top: 20px;
                    border-bottom: 1px solid #adadae;
                    padding-bottom: 5px;"></h3>
                
                <div class="articles-list" ng-repeat="article in Articles ">
                    <div class="article-box col-md-4_5 col-xs-12" ng-click="goToArticle(article)"
                        style="{{myStyle(article)}}">
                        <div class="article-title">
                            {{article.Title}}
                            </div>
                    </div>
                </div>
                <div ng-show="Articles == null || Articles.length == 0 && categorySelected != null">
                    אין מאמרים תחת קטגוריה זו
                </div>
            </div>

            <div ng-show="loader" class="loader1" style="padding: 10px;">
                <img src="/Content/images/loader.gif" />
            </div>
        </div>
    </div>
</div>