<link href="/Scripts/OvadiaApp/Admin/tfila-time/tfila-time.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12 noPadding">
        <div id="tfilaTime">
                <table class="table table-info">
                    <tr class="bg-info">
                        <th>מיון</th>
                        <th>תפילה</th>
                        <th>שעה</th>
                        <th></th>
                    </tr>

                    <tr class="table-hover" ng-repeat="item in Tfilot.data  | orderBy : 'Order1' "
                         ng-hide="loader1">
                        <td>
                            {{item.Order1}}
                        </td>
                        <td>
                            {{item.Name}}
                        </td>
                        <td style="direction: ltr;">
                           <span>{{item.Hour}}:</span>
                           <span>{{item.Min}}</span>
                        </td>
                        <td>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"
                               ng-click="editTfila(item.ID)"></i>
                        </td>
                    </tr>
                </table>
                <div class="modal-body center" ng-show="loader1">
                    <img src="/Content/images/loader.gif" />
                </div>
                <button type="button" class="btn btn-success" ng-click="OpenAddTfila()">הוסף תפילה</button>
            </div>
    </div>
</div>