.has-feedback .form-control{
    padding-right:5px;
}
.loader1{
    text-align:center;
}
.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group{
    float:right;
}

@media screen and (max-width: 768px) {
    .col-xs-12 {
        padding: 0;
    }
}