<link href="/Scripts/OvadiaApp/donation-screen/donation-wizard/donation-wizard.css" rel="stylesheet" />

<div class="stage-car-form col-xs-12">
    <ul>
        <li class="accordion-form-step">
            <form name="WizardForm">
                <div class="step-head active">
                    <!---Header -->
                    <span class="stepNumber" ng-hide="PassStep[0]">1</span>
                    <!--- done step----->
                    <span class="stepNumber done ng-hide" ng-show="PassStep[0]"><img src="/Content/images/icon-v.png"></span>
                    <h2>פרטים אישיים</h2>
                    <span class="close-icon"></span>
                </div>
                <div class="step-content" ng-hide="loader">
                    <h1 class="car-sub-title ng-binding" title="הצטרפות לביטוח רכב" alt="הצטרפות לביטוח רכב">הצטרפות לביטוח רכב</h1>
                    <p class="text" style="line-height:25px;">
                        מצורפת בזאת הצעה לחידוש פוליסת הרכב שלך לתקופת הביטוח שתפורט בהמשך.<br>
                        תוקף ההצעה הינו עד לתאריך תחילת הביטוח או עד למועד שצוין בהודעה שנמסרה לך בכתב, לפי המאוחר ביניהם.<br>
                        פוליסה זו כוללת את הכיסויים וההרחבות המפורטים בתכנית הביטוח בלבד.<br>
                        באפשרותך לקבל הסבר מפורט, לבצע שינויים בהצעה זו ולרכוש כיסויים נוספים על ידי פניה לסוכן הביטוח שלך.
                    </p><div class="paragraphHeadlines">פרטי זיהוי:</div>
                    <p class="" style="line-height:20px; margin:-3px 0 15px 0;">
                        יש להזין לפחות 2 נתונים מתוך ה 3 לצורך המשך התהליך

                    </p>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="IdNumber1" class="input-title">
                                מספר ת.ז
                                (9 ספרות):
                            </label>
                            <input only-digits="" type="text" ng-model="IdentificationModel.IdNumber" ng-disabled="disabledFeilds" name="user_ID" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength" id="IdNumber1" maxlength="9" placeholder="מספר תעודת זהות" disabled="disabled">
                            <!--<div class="spacing errorValidation" ng-show="validationObj.IdRequired || carsOnlineForm.user_ID.$error.required &&  carsOnlineForm.user_ID.$touched ||
                        carsOnlineForm.user_ID.$error.required &&  submit">יש להזין תעודת זהות</div>-->
                            <div class="errorValidation ng-hide" ng-show="validationObj.IdlInvalid || isInvalidIdNumber(IdentificationModel.IdNumber)
                     &amp;&amp; carsOnlineForm.user_ID.$touched|| isInvalidIdNumber(IdentificationModel.IdNumber) &amp;&amp; submit">יש להזין תעודת זהות תיקנית</div>
                        </div>
                    </div>
                </div>
                <div class="step-head">
                    <!---Header -->
                    <span class="stepNumber" ng-hide="PassStep[1]">2</span>
                    <!--- done step----->
                    <span class="stepNumber done ng-hide" ng-show="PassStep[1]"><img ng-src="/Content/images/CarsOnLine/icon-v.png" src="/Content/images/CarsOnLine/icon-v.png"></span>
                    <h2>פרטים נוספים</h2>
                    <!--<span class="open-icon"></span>-->
                    <span class="open-icon" ng-click="StartStep(2)"></span>
                </div>

            </form>
        </li>
    </ul>
   
</div>

