<link href="/Scripts/OvadiaApp/donation-screen/donation-wizard/donation-wizard.css" rel="stylesheet" />

<div class="stage-car-form col-xs-12">
    <ul>
        <li class="accordion-form-step">
            <form name="WizardForm">
                <!----Step 1-->
                <div class="step-head" ng-hide="currentStep == 1">
                    <!---Header -->
                    <span class="stepNumber" ng-hide="PassStep[0]">1</span>
                    <!--- done step----->
                    <span class="stepNumber done" ng-show="PassStep[0]"><img src="/Content/images/icon-v.png"></span>
                    <h2>פרטים אישיים</h2>
                    <!--<span class="open-icon"></span>-->
                    <span class="open-icon" ng-click="StartStep(1)"></span>
                </div>
                <div class="ActiveStep" ng-show="currentStep == 1">
                    <div class="step-head active">
                        <!---Header -->
                        <span class="stepNumber">1</span>
                        <!--- done step----->
                        <span class="stepNumber done ng-hide" ng-show="PassStep[0]"><img src="/Content/images/icon-v.png"></span>
                        <h2>פרטים אישיים</h2>
                        <span class="close-icon"></span>
                    </div>
                    <div class="step-content" ng-hide="loader">
                        <h1 class="car-sub-title ng-binding" title="{{Truma.Title}}" alt="{{Truma.Title}}">{{Truma.Title}}</h1>
                        <p class="text" style="line-height:25px;" ng-bind-html="Truma.Body">
                        </p>
                        <div class="col-xs-12 col-sm-6 removePaddingMob">
                            <div class="form-group">
                                *
                                <label for="toremName">שם התורם</label>
                                <input required type="text" ng-pattern="/^[א-ת ?./-]*$/" ng-model="TrumaPerson.Payment_FullName" class="form-control" id="toremName" placeholder="שם מלא">
                            </div>
                            <div class="form-group">
                                <label class="block" for="sumTorem">* סכום התרומה</label>
                                <input ng-hide="fixedTotal" ng-required="!fixedTotal" type="number" ng-model="TrumaPerson.Total" class="form-control" id="sumTorem" placeholder="סכום תרומה">
                                <input ng-show="fixedTotal" disabled type="number" step="any"  value="{{TrumaPerson.Total}}" class="disabled form-control" id="sumTorem" placeholder="סכום תרומה">
                                <select class="form-control disabled" ng-model="cur" disabled>
                                    <option value="">שקל</option>
                                </select>
                            </div>

                            <div class="form-group">
                               *
                                <label for="Phone1">טלפון</label>
                                <input required type="text" ng-model="TrumaPerson.Phone1" class="form-control" 
                                       ng-pattern="/^[0]{1}(2|3|4|8|9|72|73|76|77|50|52|53|54|55|57|58)[2-9]{1}\d{6}|[0]{1}(50|52|53|54|57|58)[2-9]{1}\d{6}$/"
                                       id="Phone1" placeholder="טלפון">
                            </div>
                            <div class="form-group">
                                *
                                <label for="idNumber">תעודת זהות</label>
                                <input required type="number" ng-keypress="idNumberError = ''" ng-model="TrumaPerson.NumberId" class="form-control" id="idNumber" placeholder="תעודת זהות">
                            </div>
                            <div class="form-group">
                                &nbsp;
                                <label for="city">עיר </label>
                                <input type="text"  ng-pattern="/^[א-ת ?./-]*$/" ng-model="TrumaPerson.City" class="form-control" id="city" placeholder="עיר">
                            </div>
                            <div class="form-group">
                                &nbsp;
                                <label for="address"> רחוב + דירה</label>
                                <input type="text" ng-pattern="/^[1-9א-ת ?./-]*$/" ng-model="TrumaPerson.Address" class="form-control" id="address" placeholder="למשל רמבם 7 אשדוד">
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 removePaddingMob">
                            <!--<div class="form-group">
                                &nbsp;
                                <label for="flatNumber"> מספר דירה</label>
                                <input type="text" ng-model="Truma.FlatNumber" class="form-control" id="flatNumber" placeholder="מספר דירה">
                            </div>-->
                            <div class="form-group">
                                &nbsp;
                                <label for="email1">דואר אלקטרוני </label>
                                <input type="email" ng-model="TrumaPerson.Email" 
                                       ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
                                       class="form-control" id="email1" placeholder="דואר אלקטרוני">
                            </div>
                            <label for="Donates1" class="Donates_label">{{Truma.TextBeforeNames}} </label>
                            <div ng-repeat="item in items" style="    display: inline-block;">
                                <div class="form-group">
                                  <div ng-show="Truma.IsAlowComment">
                                      <select ng-model="item.Pray"
                                              ng-init="item.Pray = 'לעילוי נשמת'"
                                              class="selectPra form-control">
                                          <option value="לעילוי נשמת">לעילוי נשמת</option>
                                          <option value="לברכה והצלחה ברוחניות ובגשמיות">לברכה והצלחה ברוחניות ובגשמיות</option>
                                          <option value="לזרע בר קיימא">לזרע בר קיימא</option>
                                          <option value="לבריאות ואריכות ימים">לבריאות ואריחות ימים</option>
                                          <option value="לפרנסה והצלחה">לפרנסה והצלחה</option>
                                          <option value="לחזרה בתשובה">לחזרה בתשובה</option>
                                          <option value="לזיווג הגון">לזיווג הגון</option>
                                      </select>
                                  </div>
                                    &nbsp;
                                    <input type="text" maxlength="100" ng-model="item.model_son" class="inputName form-control" id="Donates1" />
                                    <div class="btn-group view_buttons" data-toggle="buttons">
                                        <label ng-class="item.model_gender == 0 ? 'active btn btn-primary' : 'btn btn-primary'" ng-click="item.model_gender = 0">
                                            <input type="radio" name="options" ng-model="radio" value="0" id="option2" autocomplete="off">
                                            בן
                                        </label>
                                        <label ng-class="item.model_gender == 1 ? 'active btn btn-primary' : 'btn btn-primary'" ng-click="item.model_gender = 1">
                                            <input type="radio" name="options" ng-model="radio" value="1" id="option2" autocomplete="off">
                                           בת
                                        </label>
                                    </div>
                                    <input type="text" maxlength="100" ng-model="item.model_father" class="inputName form-control" id="Donates2" />
                                    <input  ng-hide="$index == 0" type="button" class="mob-btn btn btn-danger" value="X" ng-click="removeInput(item)" />
                                    <input ng-show="$index == 0" type="button" class="mob-btn btn btn-success" value="+" ng-click="addInput()" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                &nbsp;
                                <label for="Comment"> הערה בנוגע לתשלום</label>
                                <textarea ng-model="TrumaPerson.Comment"  ng-pattern="/^[א-ת ?./-]*$/" type="text" class="form-control" id="Comment" placeholder="ללא תווים מיוחדים"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                * שדות חובה <br />
                              <div style="color:red">{{idNumberError}}</div>
                                <div class="form-group">
                                    <input type="button" class="btn btn-success" ng-click="moveStep()" id="submitButton" value="שלח">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <!----Step 2-->
                <div class="step-head" ng-hide="currentStep == 2">
                    <!---Header -->
                    <span class="stepNumber" ng-hide="PassStep[1]">2</span>
                    <!--- done step----->
                    <span class="stepNumber done" ng-show="PassStep[1]"><img src="/Content/images/icon-v.png"></span>
                    <h2>אמצעי תשלום</h2>
                    <!--<span class="open-icon"></span>-->
                    <span class="open-icon" ng-click="StartStep(2)"></span>
                </div>
                <div class="ActiveStep" ng-show="currentStep == 2">
                    <div class="step-head active">
                        <!---Header -->
                        <span class="stepNumber">2</span>
                        <!--- done step----->
                        <span class="stepNumber done"><img src="/Content/images/icon-v.png"></span>
                        <h2>אמצעי תשלום</h2>
                        <span class="close-icon"></span>
                    </div>
                    <div class="step-content big-height">
                        <h1 class="car-sub-title ng-binding" title="אמצעי תשלום" alt="אמצעי תשלום">אמצעי תשלום</h1>
                        <p class="text" style="line-height:25px;direction:rtl">
                          ביצוע התשלום נעשה בצורה מאובטחת על ידי שימוש בחברת קשר. <br />
                            לחזרה אחורה לתיקון הפרטים נא לחץ על הפלוס בלשונית הראשונה.
                        </p>
                        <iframe src="{{iframeUrl}}" ng-show="PassStep[0]"  class="payIframe"></iframe>
                    </div>
                </div>
            </form>
        </li>
    </ul>
   
</div>

