<link href="/Scripts/OvadiaApp/donation-screen/donation-wizard/donation-wizard.css" rel="stylesheet" />

<div class="stage-car-form col-xs-12">
    <ul>
        <li class="accordion-form-step">
            <form name="WizardForm">
                <div class="step-head" ng-show="PassStep[0]">
                    <!---Header -->
                    <span class="stepNumber" ng-hide="PassStep[0]">1</span>
                    <!--- done step----->
                    <span class="stepNumber done" ng-show="PassStep[0]"><img src="/Content/images/icon-v.png"></span>
                    <h2>פרטים אישיים</h2>
                    <!--<span class="open-icon"></span>-->
                    <!--<span class="open-icon" ng-click="StartStep(2)"></span>-->
                </div>
                <div class="ActiveStep" ng-hide="PassStep[0]">
                    <div class="step-head active">
                        <!---Header -->
                        <span class="stepNumber">1</span>
                        <!--- done step----->
                        <span class="stepNumber done ng-hide" ng-show="PassStep[0]"><img src="/Content/images/icon-v.png"></span>
                        <h2>פרטים אישיים</h2>
                        <span class="close-icon"></span>
                    </div>
                    <div class="step-content" ng-hide="loader || PassStep[0]">
                        <h1 class="car-sub-title ng-binding" title="{{Truma.Title}}" alt="{{Truma.Title}}">{{Truma.Title}}</h1>
                        <p class="text" style="line-height:25px;" ng-bind-html="Truma.Body">
                        </p>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                *
                                <label for="toremName">שם התורם</label>
                                <input required type="text" ng-model="Truma.Payment_FullName" class="form-control" id="toremName" placeholder="שם מלא">
                            </div>
                            <div class="form-group">
                                <label class="block" for="sumTorem">* סכום התרומה</label>
                                <input required type="number" ng-model="Truma.Total" class="form-control" id="sumTorem" placeholder="סכום תרומה">
                                <select required class="form-control" ng-model="cur">
                                    <option value="">מטבע</option>
                                    <option value="1">שקל</option>
                                    <option value="2">דולר</option>
                                    <option value="978">יורו</option>
                                </select>
                            </div>

                            <div class="form-group">
                               *
                                <label for="Phone1">טלפון</label>
                                <input required type="text" ng-model="Truma.Phone1" class="form-control" id="Phone1" placeholder="טלפון">
                            </div>
                            <div class="form-group">
                                *
                                <label for="idNumber">תעודת זהות</label>
                                <input required type="number" ng-model="Truma.NumberId" class="form-control" id="idNumber" placeholder="תעודת זהות">
                            </div>
                            <div class="form-group">
                                &nbsp;
                                <label for="city">עיר </label>
                                <input type="text" ng-model="Truma.City" class="form-control" id="city" placeholder="עיר">
                            </div>
                            <div class="form-group">
                                &nbsp;
                                <label for="address"> רחוב + דירה</label>
                                <input type="text" ng-model="Truma.Address" class="form-control" id="address" placeholder="כתובת">
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <!--<div class="form-group">
                                &nbsp;
                                <label for="flatNumber"> מספר דירה</label>
                                <input type="text" ng-model="Truma.FlatNumber" class="form-control" id="flatNumber" placeholder="מספר דירה">
                            </div>-->
                            <div class="form-group">
                                &nbsp;
                                <label for="email1">דואר אלקטרוני </label>
                                <input type="email" ng-model="Truma.Email"  class="form-control" id="email1" placeholder="דואר אלקטרוני">
                            </div>
                            <div class="form-group">
                                &nbsp;
                                <label for="Donates1">לעילוי נשמת\ברכה </label>
                                <textarea maxlength="100" ng-model="Truma.Donates" type="text" class="form-control" id="Donates1" placeholder="מוגבל ל100 תווים בלבד"></textarea>
                            </div>
                            <div class="form-group">
                                &nbsp;
                                <label for="Comment"> הערה בנוגע לתשלום</label>
                                <textarea ng-model="Truma.Comment" type="text" class="form-control" id="Comment" placeholder="כתוב הערה"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                * שדות חובה <br />
                                <div class="form-group">
                                    <input type="button" class="btn btn-success" ng-click="moveStep()" id="submitButton" value="שלח">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="step-head" ng-hide="PassStep[0]">
                    <!---Header -->
                    <span class="stepNumber" ng-hide="PassStep[1]">2</span>
                    <!--- done step----->
                    <span class="stepNumber done" ng-show="PassStep[1]"><img src="/Content/images/icon-v.png"></span>
                    <h2>אמצעי תשלום</h2>
                    <!--<span class="open-icon"></span>-->
                    <!--<span class="open-icon" ng-click="StartStep(2)"></span>-->
                </div>
                <div class="ActiveStep" ng-show="PassStep[0]">
                    <div class="step-head active">
                        <!---Header -->
                        <span class="stepNumber">2</span>
                        <!--- done step----->
                        <span class="stepNumber done"><img src="/Content/images/icon-v.png"></span>
                        <h2>אמצעי תשלום</h2>
                        <span class="close-icon"></span>
                    </div>
                    <div class="step-content big-height">
                        <h1 class="car-sub-title ng-binding" title="אמצעי תשלום" alt="אמצעי תשלום">אמצעי תשלום</h1>
                        <p class="text" style="line-height:25px;">
                          ביצוע התשלום נעשה בצורה מאובטחת על ידי שימוש בחברת קשר.
                        </p>
                        <iframe src="{{iframeUrl}}" ng-show="PassStep[0]"  class="payIframe"></iframe>
                    </div>
                </div>
            </form>
        </li>
    </ul>
   
</div>

