<link href="/Scripts/OvadiaApp/header-component/header-component.css" rel="stylesheet" />
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!--<img class="img-responsive rabi-ovadia hidden-xs" src="/Content/images/rabi-ovadia.png" />-->
        <div class="logo col-xs-12">
            <img src="/Content/images/logoNew.png" class="img-responsive logo1"/>
            <!--<img class="logo_img img-responsive" src="/Content/images/logozakai.png" />-->
        </div>

        <ul class="nav navbar-nav" id="menuBar" onclick="toggleMenu()" ng-click="DestroyDialogs()">
            <li ng-repeat="item in menuItems" >
            <a ng-click="headerClicked(item.name)" ui-sref="{{item.state}}" ng-class="$root.menu == item.name ?'active' : ''">{{item.name}}</a></li> <!---routerLink="index" routerLinkActive="active"-->
        </ul>
    </div>
    <div class="amburger visible-xs">
        <i class="icon-menu fa fa-bars fa-2x" aria-hidden="true" onClick="navClicked()"></i>
    </div>
</nav>
<div class="visible-xs spcae-from-header"></div>

