        <!--- קרוסלת כתבות-->
<link href="/Scripts/OvadiaApp/home-component/home-component.css" rel="stylesheet" />
<div class="row space-from-header">
    <div class="col-xs-12 col-md-5 right-box">
        <h4 class="box-title">
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
         לידיעת הציבור:
        </h4>
        <!--<img class="img-responsive" src="http://www.colel.co.il/Recom/lg_IMG-20171020-WA0004.jpg" ng-click="OpenLetter('http://www.colel.co.il/Recom/lg_IMG-20171020-WA0004.jpg')"/>
         <strong style="font-weight:bold;cursor:pointer" ng-click="OpenLetter('http://www.colel.co.il/Recom/lg_IMG-20171020-WA0004.jpg')">לחץ להגדלה</strong>-->
    </div>
    <carousel-component></carousel-component>
</div>

<!----זמני שיעורים-->
<div class="row">
    <lesson-component></lesson-component>
</div>
