
.title-tag {
    display: inline-block;
    background: #efefef;
    height: 29px;
    line-height: 29px;
    padding: 0 10px;
    border-radius: 2px;
    margin-bottom: 7px;
    cursor: pointer;
    margin-left: 5px;
}
    .title-tag:hover {
        background: #07f4ff;
    }
.Link {
    cursor:pointer;
}
.removeLink {
    text-decoration: none;
    color: #000;
}
.removeLink:hover {
    cursor:default;
    text-decoration: none;
    color: #000;
}