
.title-tag {
    display: inline-block;
    background: #efefef;
    height: 29px;
    line-height: 29px;
    padding: 0 10px;
    border-radius: 2px;
    margin-bottom: 7px;
    cursor:pointer;
}
    .title-tag:hover {
        background: #07f4ff;
    }
