.row-title {
    font-weight: bold;
    font-family: arial;
    font-size: 17px;
    color: #636362;
}

select.parentCat, select.subParentCat {
    direction: rtl;
    text-align: right;
    width: 330px;
    display: inline-block;
}
.ngdialog-close {
    display: block;
}

select.subParentCat {
    direction: rtl;
    text-align: right;
}

.succCat {
    background-color: #dff0d8;
    direction: rtl;
    margin-top: 6px;
    padding: 9px;
    border: 1px solid #72da96;
    border-radius: 4px;
}

.inputClass {
    width: 163px;
    height: 34px;
    position: relative;
    display: inline-block;
    top: 2px;
    text-align: right;
    direction: rtl;
}

.buttonsBlock {
    position: relative;
    top: 1px;
}

h4 {
    color: #686868;
    font-weight: bold;
}
table.table tr th {
    text-align: center;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    text-align:center;
}
.fa-plus-circle {
    color: #008000;
    font-size: 20px;
    cursor: pointer;
}
.fa-plus-square-o, .fa-minus-square-o {
    font-size: 20px;
    cursor: pointer;
}

.fa-minus-circle {
    color: #8b0000;
    font-size: 20px;
    cursor: pointer;
}
.table-info-child .bg-info {
    background: #74909f;
    color:#fff;
}
.table-info-subchild .bg-info {
    background: #4e646f;
    color: #fff;
}

    @media screen and (max-width: 768px) {
        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            width: 100%;
        }

        .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
            width: 100%;
        }

        select.parentCat, select.subParentCat {
            width: 100%;
        }

        .homeadminRoute.col-xs-12 {
            padding-right: 0;
        }

        .col-xs-12 {
            padding: 0;
        }
    }